# Top level dependencies for project. Should be able to do a fresh install from this to automatically
# install the latest supported sub-dependencies. However, for consistency and reproducibility across
# environments, use the "version locked" requirements.txt in general.
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
flask-cors==6.0.2
flask-smorest==0.47.0
Werkzeug==3.1.8
gunicorn==25.3.0
biopython==1.87
pytest==9.0.3
pytest-env==1.6.0
pyzipper==0.3.6